.js-hidden {
  display: none;
}

.lookup {
  position: relative;
}

.lookup-results {
  max-width: 41ex;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 99%;

  ul {
    overflow: hidden;
    border: 2px solid #0b0c0c;

    li {
      padding: 10px;

      &:hover {
        background-color: #bfc1c3;
      }

      p {
        margin-top: 0px;
        margin-bottom: 0px;

        strong {
          font-weight: bold;
          margin-right: 5px;
        }
      }

      p:first-child {
        font-size: larger;
        font-weight: bold;
      }

      p:last-child {
        margin-bottom: 5px;
      }
    }
  }
}

.hods-panel--confirmation {
  color: #ffffff;
  background-color: #6f0a79;
}