{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="summary" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="approver-lookup">
            Approver details
          </label>
        </h1>
        <div id="approver-lookup-hint" class="govuk-hint">
          Search for their name, employee number or email.
        </div>
        <input class="govuk-input govuk-input--width-20" id="approver-lookup" name="approver-lookup"
          value="{{ data['approver-lookup'] }}" type="search" autocomplete="off">
        <button id="approver-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="approver-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Cahil De Menezes</p>
              <p><strong>Email:</strong>cahil.de_menezes@homeoffice.gov.uk</p>
              <p><strong>Grade:</strong>SCS 2</p>
              <p><strong>Position:</strong>Interaction Designer</p>
              <p><strong>Department and cost centre:</strong>UX - 249300</p>
              <p><strong>Business area:</strong>Customer Services</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="approver-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Cahil De Menezes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              cahil.de_menezes@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              SCS 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              Interaction Designer
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department and cost centre
            </dt>
            <dd class="govuk-summary-list__value">
              UX - 249300
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business area
            </dt>
            <dd class="govuk-summary-list__value">
              Customer Services
            </dd>
          </div>
          <a id="approver-lookup-clear-selection" class="govuk-link" href="">Clear selection</a>
        </dl>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find the approver when I search
        </summary>
        <div class="govuk-details__text">
          <p>Enter the approver's details.</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="approver-name">
              Name
            </label>
            <input class="govuk-input govuk-input--width-20" id="approver-name" name="approver-name" type="text"
              spellcheck="false" autocomplete="off" value="{{ data['approver-name'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="approver-email">
              Email
            </label>
            <input class="govuk-input govuk-input--width-20" id="approver-email" name="approver-email" type="email"
              spellcheck="false" autocomplete="off" value="{{ data['approver-email'] }}">
          </div>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}