{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel hods-panel--confirmation ">
      <h1 class="govuk-panel__title">
        Hospitality reported
      </h1>
      <div class="govuk-panel__body">
        Your reference number is <br><strong>REF123456</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We've submitted your report to the Financial Transactions Teams.</p>

    <p class="govuk-body">
      They may contact you if they require more information.
    </p>

  </div>
</div>

{% endblock %}