{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="other-party-details" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {% if (data['reporting'] == "hospitality-received") and (data['for-someone-else'] == "no")%}
              Did you accept or reject hospitality?
              {% else %}
              Did the recipient accept or reject hospitality?
              {% endif %}
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospitality-decision" name="hospitality-decision" type="radio"
                value="accept" {{ checked( "hospitality-decision" , "accept" ) }}>
              <label class="govuk-label govuk-radios__label" for="hospitality-decision">
                Accept
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospitality-decision-2" name="hospitality-decision" type="radio"
                value="reject" {{ checked( "hospitality-decision" , "reject" ) }}>
              <label class="govuk-label govuk-radios__label" for="hospitality-decision-2">
                Reject
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}