{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="summary" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="reason-for-disapproval">
            Why was the hospitality not approved by the delegated authority?
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          State the reasons why the hospitality did not get approval from a Head of Unit or Senior Civil Servant (SCS).
        </div>
        <textarea class="govuk-textarea" id="reason-for-disapproval" name="reason-for-disapproval"
          rows="3">{{ data['reason-for-disapproval'] }} </textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}