{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Hospitality approval</h1>

    <p>A 'delegated authority' must approve all hospitality, regardless of value.</p>

    <p><a href="https://ehdg--tst6.cx.ukg.oraclecloud.com/app/answers/detail/a_id/5011" class="govuk-link"
        rel="noreferrer noopener" target="_blank">Check who can approve hospitality (opens in new browser tab)</a>.
    </p>
    <div class="govuk-inset-text">
      To offer of alcohol at a Home Office event, you must have SCS 2 approval in advance.
    </div>

    <form class="form" action="/delegated-authority-approval-redirect" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you have approval from a ‘delegated authority’?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval" name="delegated-authority-approval"
                type="radio" value="yes" {{ checked( "delegated-authority-approval" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval-2" name="delegated-authority-approval"
                type="radio" value="no" {{ checked( "delegated-authority-approval" , "no" ) }}
                data-aria-controls="conditional-reason">
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason">
              <div class="govuk-form-group">
                <label class="govuk-label" for="delegated-authority-disapproval-reason">
                  Explain why
                </label>
                <textarea class="govuk-textarea" id="delegated-authority-disapproval-reason"
                  name="delegated-authority-disapproval-reason"
                  rows="3">{{ data['delegated-authority-disapproval-reason'] }}</textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}