{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/employee-lookup-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#employee-lookup">Enter {{ "recipient" if (data['reporting'] ==
                "hospitality-received") else "donor"}} details</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group lookup govuk-form-group--error">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="employee-lookup">
            {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
          </label>
        </h1>
        <div id="employee-lookup-hint" class="govuk-hint">
          Search for their name, employee number or email.
        </div>
        <p id="employee-lookup-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter {{ "recipient" if (data['reporting'] ==
          "hospitality-received") else "donor"}} details
        </p>
        <input class="govuk-input govuk-input--width-20 govuk-input--error" id="employee-lookup" name="employee-lookup"
          type="search" autocomplete="off" value="{{ data['employee-lookup'] }}">
        <button id="employee-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="employee-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Daniel Blair</p>
              <p><strong>Email:</strong>daniel.blair@homeoffice.gov.uk</p>
              <p><strong>Grade:</strong>SEO</p>
              <p><strong>Position:</strong>Service Cloud Specialist</p>
              <p><strong>Department and cost centre:</strong>BXL - 132777</p>
              <p><strong>Business area:</strong>Software</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="employee-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Daniel Blair
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              daniel.blair@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              SEO
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              Service Cloud Specialist
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department and cost centre
            </dt>
            <dd class="govuk-summary-list__value">
              BXL - 132777
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business area
            </dt>
            <dd class="govuk-summary-list__value">
              Software
            </dd>
          </div>
          <a id="employee-lookup-clear-selection" class="govuk-link" href="">Clear selection</a>
        </dl>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find the {{ "recipient" if (data['reporting'] == "hospitality-received") else "donor"}} when I
            search
        </summary>
        <div class="govuk-details__text">
          <p>Enter the hospitality {{ "recipient's" if (data['reporting'] == "hospitality-received") else "donor's"}}
            details.
          </p>
          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="employee-name">
              Name
            </label>
            <p id="employee-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter name
            </p>
            <input class="govuk-input govuk-input--width-20 govuk-input--error" id="employee-name" name="employee-name"
              type="text" spellcheck="false" autocomplete="off" value="{{ data['employee-name'] }}">
          </div>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="employee-email">
              Email
            </label>
            <p id="employee-email-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter email
            </p>
            <input class="govuk-input govuk-input--width-20 govuk-input--error" id="employee-email"
              name="employee-email" type="email" spellcheck="false" autocomplete="off"
              value="{{ data['employee-email'] }}">
          </div>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="employee-cost-centre-code">
              Cost centre code
            </label>
            <p id="employee-cost-centre-code-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter cost centre code
            </p>
            <input class="govuk-input govuk-input--width-5 govuk-input--error" id="employee-cost-centre-code"
              name="employee-cost-centre-code" type="text" spellcheck="false" autocomplete="off"
              value="{{ data['employee-cost-centre-code'] }}">
          </div>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}