{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="other-party-details" method="post">

      <div class="govuk-form-group lookup">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="employee-lookup">
            Home Office employee lookup
          </label>
        </h1>
        <div id="employee-lookup-hint" class="govuk-hint">
          Search for an employee using their name, employee number or email.
        </div>
        <input class="govuk-input govuk-input--width-20" id="employee-lookup" name="employee-lookup" type="search"
          autocomplete="off" value="{{ data['employee-lookup'] }}">
        <button id="employee-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="employee-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Daniel Blair</p>
              <p>daniel.blair@homeoffice.gov.uk</p>
              <p><strong>Grade</strong>SEO</p>
              <p><strong>Position</strong>Service Cloud Specialist</p>
              <p><strong>Department/Cost Centre</strong>BXL - 132777</p>
              <p><strong>Business Area</strong>Software</p>
            </li>
          </ul>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}