{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/employee-lookup-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#employee-lookup">Enter {{ "recipient" if (data['reporting'] ==
                "hospitality-received") else "donor"}} details</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group lookup govuk-form-group--error">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="employee-lookup">
            {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
          </label>
        </h1>
        <div id="employee-lookup-hint" class="govuk-hint">
          {% if (data['reporting'] == "hospitality-offered") %}
          The donor is the person who offered hospitality. Search for their name, employee number or email.
          {% else %}
          Search for their name, employee number or email.
          {% endif %}
        </div>
        <p id="employee-lookup-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter {{ "recipient" if (data['reporting'] ==
          "hospitality-received") else "donor"}} details
        </p>
        <input class="govuk-input govuk-input--width-20 govuk-input--error" id="employee-lookup" name="employee-lookup"
          type="search" autocomplete="off" value="{{ data['employee-lookup'] }}">
        <button id="employee-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="employee-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Daniel Blair</p>
              <p><strong>Email:</strong>daniel.blair@homeoffice.gov.uk</p>
              <p><strong>Grade:</strong>EO</p>
              <p><strong>Position:</strong>CX Specialist</p>
              <p><strong>Department and cost centre:</strong>CX - 1234567</p>
              <p><strong>Business area:</strong>IT</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="employee-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Daniel Blair
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              daniel.blair@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              EO
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              CX Specialist
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department and cost centre
            </dt>
            <dd class="govuk-summary-list__value">
              CX - 1234567
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business area
            </dt>
            <dd class="govuk-summary-list__value">
              IT
            </dd>
          </div>
          <a id="employee-lookup-clear-selection" class="govuk-link" href="">Clear selection</a>
        </dl>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find the {{ "recipient" if (data['reporting'] == "hospitality-received") else "donor"}} when I
            search
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Try searching using their name, employee number or email.</p>

          <p>If you still cannot find them, then email <a
              href="mailto: FinanceTransactionsPolicyandAssurance@homeoffice.gov.uk">FinanceTransactionsPolicyandAssurance@homeoffice.gov.uk</a>.
          </p>

          <p class="govuk-body">Explain you cannot find the hospitality {{ "recipient" if (data['reporting'] ==
            "hospitality-received")
            else "donor"}} when you search.</p>

        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}