{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Event details</h1>

    <form class="form" action="type-of-hospitality" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="number-of-guests">
          Number of guests, including civil servants
        </label>
        <input class="govuk-input govuk-input--width-3" id="number-of-guests" name="number-of-guests" type="text"
          value="{{ data['number-of-guests'] }}" autocomplete="off">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="number-of-civil-servants">
          Number of civil servants
        </label>

        <input class="govuk-input govuk-input--width-3" id="number-of-civil-servants" name="number-of-civil-servants"
          type="text" value="{{ data['number-of-civil-servants'] }}" autocomplete="off">
      </div>

      <div class="govuk-inset-text">
        Civil servants must not exceed 50% of the guests.
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}