{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Hospitality details</h1>

    <form class="form" action="/hospitality-details-redirect" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="reason-for-hospitality">
          Reason for the hospitality
        </label>
        <div id="reason-for-hospitality-hint" class="govuk-hint">
          For example, a diplomatic gesture.
        </div>
        <input class="govuk-input" id="reason-for-hospitality" name="reason-for-hospitality"
          value="{{ data['reason-for-hospitality'] }}" type="text" autocomplete="off">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="cost-per-person">
          Cost per person, in pounds
        </label>
        <div id="cost-per-person-hint" class="govuk-hint">
          If you do not know this, provide your best estimate.
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="cost-per-person" name="cost-per-person"
            value="{{ data['cost-per-person'] }}" type="text" spellcheck="false" autocomplete="off">
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="total-cost">
          Total cost, in pounds
        </label>
        <div id="total-cost-hint" class="govuk-hint">
          If you do not know this, provide your best estimate.
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="total-cost" name="total-cost"
            value="{{ data['total-cost'] }}" type="text" spellcheck="false" autocomplete="off">
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}