{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/for-someone-else-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#for-someone-else">Select yes if you are reporting hospitality for someone else</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you reporting hospitality for someone else?
            </h1>
          </legend>
          <p id="for-someone-else-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Select yes if you are reporting hospitality for someone
            else
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="for-someone-else" name="for-someone-else" type="radio" value="yes"
                {{ checked( "for-someone-else" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="for-someone-else">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="for-someone-else-2" name="for-someone-else" type="radio" value="no"
                {{ checked( "for-someone-else" , "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="for-someone-else-2">
                No
              </label>
            </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}