{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/for-someone-else-redirect" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you reporting hospitality for someone else?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="for-someone-else" name="for-someone-else" type="radio" value="yes"
                {{ checked( "for-someone-else" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="for-someone-else">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="for-someone-else-2" name="for-someone-else" type="radio" value="no"
                {{ checked( "for-someone-else" , "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="for-someone-else-2">
                No
              </label>
            </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}