{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/individual-hospitality-redirect" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Were you the {{ "recipient" if (data['received-or-offered'] == "received") else "donor"}} of the
              hospitality?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individual-hospitality" name="individual-hospitality" type="radio"
                value="yes" {{ checked( "individual-hospitality" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="individual-hospitality">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individual-hospitality-2" name="individual-hospitality"
                type="radio" value="no" {{ checked( "individual-hospitality" , "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="individual-hospitality-2">
                No
              </label>
            </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}