{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ "Donor" if (data['reporting'] == "hospitality-received-and-accepted") or
      (data['reporting'] == "hospitality-received-and-rejected") else "Recipient"}} details
    </h1>

    {% if (data['reporting'] == "hospitality-received-and-accepted") or (data['reporting'] ==
    "hospitality-received-and-rejected") %}
    <p class="govuk-body">The donor is the person or organisation who gave the hospitality. They could be inside or
      outside the
      Home Office.</p>
    {% else %}
    <p class="govuk-body">The recipient is the person or organisation who received the hospitality. They could be inside
      or
      outside the Home Office.</p>
    {% endif %}

    <form class="form" action="event-details" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="other-party-name">
          Name
        </label>
        <div id="other-party-name-hint" class="govuk-hint">
          Person or organisation's name.
        </div>
        <input class="govuk-input govuk-input--width-20" id="other-party-name" name="other-party-name" type="text"
          value="{{ data['other-party-name'] }}" aria-describedby="other-party-name-hint" autocomplete="off">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="other-party-contact-details">
          Contact details
        </label>
        <div id="other-party-contact-details-hint" class="govuk-hint">
          For an organisation, add a representative's name.
        </div>
        <textarea class="govuk-textarea" id="other-party-contact-details" name="other-party-contact-details" rows="5"
          aria-describedby="other-party-contact-details-hint">{{ data['other-party-contact-details'] }}</textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}