{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/reporting-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#reporting">
                Select if hospitality was received or offered
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Was hospitality received or offered?
            </h1>
          </legend>
          <p id="reporting-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            Select if hospitality was received or offered
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reporting" name="reporting" type="radio"
                value="hospitality-received" {{ checked( "reporting" , "hospitality-received" ) }}>
              <label class="govuk-label govuk-radios__label" for="reporting">
                Received
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reporting-2" name="reporting" type="radio"
                value="hospitality-offered" {{ checked( "reporting" , "hospitality-offered" ) }}>
              <label class="govuk-label govuk-radios__label" for="reporting-2">
                Offered
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}