{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ "Recipient" if (data['reporting'] == "hospitality-received-and-accepted") or
      (data['reporting'] == "hospitality-received-and-rejected") else "Donor"}} details</h1>

    <form class="form" action="/someone-else-details-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#someone-else-name">Enter name</a>
            </li>
            {% if (data['reporting'] == "hospitality-received-and-accepted") or (data['reporting'] ==
            "hospitality-received-and-rejected") %}
            <li>
              <a href="#number-of-recipients">Enter number of recipients</a>
            </li>
            {% endif %}
            <li>
              <a href="#home-office-representative-lookup">Enter a Home Office representative</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="someone-else-name">
          Name
        </label>
        <div id="someone-else-name-hint" class="govuk-hint">
          Could be a team, unit or department.
        </div>
        <p id="someone-else-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter name
        </p>
        <input class="govuk-input govuk-input--width-20 govuk-input--error" id="someone-else-name"
          name="someone-else-name" type="text" value="{{ data['someone-else-name'] }}" autocomplete="off">
      </div>

      {% if (data['reporting'] == "hospitality-received-and-accepted") or (data['reporting'] ==
      "hospitality-received-and-rejected") %}
      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="number-of-recipients">
          Number of recipients
        </label>
        <p id="someone-else-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter number of recipients
        </p>
        <input class="govuk-input govuk-input--width-3" id="number-of-recipients" name="number-of-recipients"
          type="number" value="{{ data['number-of-recipients'] }}" step="1" min="1" autocomplete="off">
      </div>
      {% endif %}

      <div class="govuk-form-group govuk-form-group--error lookup">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m"
            for="home-office-representative-lookup">
            Home Office representative
          </label>
        </h1>
        <div id="home-office-representative-lookup-hint" class="govuk-hint">
          Search for their name, employee number or email.
        </div>
        <p id="someone-else-department-lookup-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Enter a Home Office representative
        </p>
        <input class="govuk-input govuk-input--width-20 govuk-input--error" id="home-office-representative-lookup"
          name="home-office-representative-lookup" value="{{ data['home-office-representative-lookup'] }}" type="search"
          autocomplete="off">
        <button id="home-office-representative-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="home-office-representative-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Max Thompson</p>
              <p><strong>Email:</strong>max.thompson@homeoffice.gov.uk</p>
              <p><strong>Grade:</strong>EO</p>
              <p><strong>Position:</strong>Client Relations Executive</p>
              <p><strong>Department and cost centre:</strong>BXL - 132777</p>
              <p><strong>Business area:</strong>Software</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="home-office-representative-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Max Thompson
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              max.thompson@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              EO
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              Client Relations Executive
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department and cost centre
            </dt>
            <dd class="govuk-summary-list__value">
              BXL - 132777
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business area
            </dt>
            <dd class="govuk-summary-list__value">
              Software
            </dd>
          </div>
          <a id="home-office-representative-lookup-clear-selection" class="govuk-link" href="">Clear selection</a>
        </dl>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find a Home Office representative when I search
        </summary>
        <div class="govuk-details__text">
          <p>Enter the Home Office representative's details.</p>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="ho-employee-name">
              Name
            </label>
            <p id="ho-employee-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter the Home Office representative's name
            </p>
            <input class="govuk-input govuk-input--width-20 govuk-input--error" id="ho-employee-name"
              name="ho-employee-name" type="text" spellcheck="false" autocomplete="off"
              value="{{ data['ho-employee-name'] }}">
          </div>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="ho-employee-email">
              Email
            </label>
            <p id="ho-employee-name-email-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter the Home Office representative's email
            </p>
            <input class="govuk-input govuk-input--width-20 govuk-input--error" id="ho-employee-email"
              name="ho-employee-email" type="email" spellcheck="false" autocomplete="off"
              value="{{ data['ho-employee-email'] }}">
          </div>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="ho-employee-cost-centre-code">
              Cost centre code
            </label>
            <p id="ho-employee-cost-centre-code-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter the Home Office representative's cost centre code
            </p>
            <input class="govuk-input govuk-input--width-5 govuk-input--error" id="ho-employee-cost-centre-code"
              name="ho-employee-cost-centre-code" type="text" spellcheck="false" autocomplete="off"
              value="{{ data['ho-employee-cost-centre-code'] }}">
          </div>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}