{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check and submit your answers</h1>

    <div class="govuk-body">Go back to change your answers if you need to.</div>

    <form class="form" action="confirmation" method="post">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Received or offered
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "hospitality-received") %}
            Received
            {% else %}
            Offered
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accepted or rejected
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "hospitality-received") %}
            {% if (data['hospitality-decision'] == "accept") %}
            Accepted
            {% else %}
            Rejected
            {% endif %}
            {% else %}
            {% if (data['hospitality-decision'] == "accept") %}
            Accepted by the recipient
            {% else %}
            Rejected by the recipient
            {% endif %}
            {% endif %}
          </dd>
        </div>

        {% if(data['reporting'] == "hospitality-received" and data['reporter'] == "me") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Attended alone or accompanied
          </dt>
          <dd class="govuk-summary-list__value">
            {% if(data['alone-or-accompanied'] == "alone") %}
            Alone
            {% else %}
            Accompanied by {{data['number-of-accompaniers']}} people
            {% endif %}
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['reporter'] == "me") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 1
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Interaction Design Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "someone-else") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Daniel Blair
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            daniel.blair@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            EO
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Specialist
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "team-unit-department") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team, unit or department
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['team-unit-or-department-name'] }}
          </dd>
        </div>
        {% if (data['reporting'] == "hospitality-received") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of recipients
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-recipients'] }}
          </dd>
        </div>
        {% endif %}
      </dl>

      <h3 class="govuk-heading-s">
        Representative
      </h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Max Thompson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            max.thompson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SEO
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Lead
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      <h2 class="govuk-heading-m">{{ "Donor" if (data['reporting'] == "hospitality-received") else "Recipient"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-party-name'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <pre>{{ data['other-party-contact-details'] }}</pre>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Event details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Event name
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {{ data['event-name'] }}
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of event
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['event-type'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Event date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if(data['event-date'] == "2022-10-31") %}
            31 October 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-01") %}
            01 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-02") %}
            02 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-03") %}
            03 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-04") %}
            04 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-05") %}
            05 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-06") %}
            06 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-07") %}
            07 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-08") %}
            08 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-09") %}
            09 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-10") %}
            10 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-11") %}
            11 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-12") %}
            12 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-13") %}
            13 November 2022
            {% endif %}
            {% if(data['event-date'] == "2022-11-14") %}
            14 November 2022
            {% endif %}
          </dd>
        </div>
        {% if(data['reporting'] == "hospitality-offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of guests, including civil servants
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-guests'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of civil servants
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-civil-servants'] }}
          </dd>
        </div>
        {% endif %}
      </dl>


      <h2 class="govuk-heading-m">Hospitality details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {% for hospitalityType in data['hospitality-type'] %}
              <li>{{ hospitalityType | capitalize }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for hospitality
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason-for-hospitality'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost of hospitality, in pounds
          </dt>
          <dd class="govuk-summary-list__value">
            {% for hospitalityType in data['hospitality-type'] %}

            {% if (hospitalityType == "food") %}
            <p>Food cost: £{{ data['food-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "drinks") %}
            <p>Drinks cost: £{{ data['drinks-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "transport") %}
            <p>Transport cost: £{{ data['transport-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "entertainment") %}
            <p>Entertainment cost: £{{ data['entertainment-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "accommodation") %}
            <p>Accommodation cost: £{{ data['accommodation-cost'] }}</p>
            {% endif %}

            {% endfor %}
          </dd>
        </div>

        {% if(data['reporting'] == "hospitality-offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Used approved supplier
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-used'] | capitalize}}
          </dd>
        </div>

        {% if(data['approved-supplier-used'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approved supplier was not used
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-not-used-reason'] }}
          </dd>
        </div>
        {% endif %}
        {% endif %}
      </dl>


      {% if (data['for-someone-else'] == "yes" and data['delegated-authority-approval'] == "yes") %}
      <h2 class="govuk-heading-m">Approver details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Delegated authority approval</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Approval obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-approval'] | capitalize }}
          </dd>
        </div>

        {% if (data['delegated-authority-approval'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approval was not obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-disapproval-reason'] }}
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] != "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Andrea Richardson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            andrea.richardson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Architect
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] == "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-name']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-email']}}
          </dd>
        </div>
      </dl>
      {% endif %}

      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>

  </div>
</div>

{% endblock %}