{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check and submit your answers</h1>

    <form class="form" action="confirmation" method="post">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Received or offered
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "hospitality-received") %}
            Received
            {% else %}
            Offered
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="reporting">
              Change<span class="govuk-visually-hidden"> received or offered</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accepted or rejected
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "hospitality-received") %}
            {% if (data['hospitality-decision'] == "accept") %}
            Accepted
            {% else %}
            Rejected
            {% endif %}
            {% else %}
            {% if (data['hospitality-decision'] == "accept") %}
            Accepted by the recipient
            {% else %}
            Rejected by the recipient
            {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="decision">
              Change<span class="govuk-visually-hidden"> accepted or received</span>
            </a>
          </dd>
        </div>

        {% if(data['reporting'] == "hospitality-received" and data['reporter'] == "me") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Attended alone or accompanied
          </dt>
          <dd class="govuk-summary-list__value">
            {% if(data['alone-or-accompanied'] == "alone") %}
            Alone
            {% else %}
            {% if(data['number-of-accompaniers'] == "1") %}
            Accompanied by 1 person
            {% else %}
            Accompanied by {{data['number-of-accompaniers']}} people
            {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="alone-or-accompanied">
              Change<span class="govuk-visually-hidden"> attended alone or accompanied</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['reporter'] == "me") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="select-reporter">
              Change<span class="govuk-visually-hidden"> {{ "recipient" if (data['reporting'] == "hospitality-received")
                else "donor"}}</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123454
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 1
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Interaction Design Manager
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "someone-else") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Daniel Blair
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="employee-lookup">
              Change<span class="govuk-visually-hidden"> {{ "recipient" if (data['reporting'] == "hospitality-received")
                else "donor"}}</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123451
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            daniel.blair@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            Executive Officer (EO)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Specialist
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "team-unit-department") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team, unit or department
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['team-unit-or-department-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="team-unit-or-department-details">
              Change<span class="govuk-visually-hidden"> team, unit or department</span>
            </a>
          </dd>
        </div>
        {% if (data['reporting'] == "hospitality-received") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of recipients
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-recipients'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="number-of-recipients">
              Change<span class="govuk-visually-hidden"> number of recipients</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>
      <h3 class="govuk-heading-s">
        Representative
      </h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Max Thompson
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="team-unit-or-department-details">
              Change<span class="govuk-visually-hidden"> representative</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123452
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            max.thompson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Executive Officer (SEO)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Lead
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      <h2 class="govuk-heading-m">{{ "Donor" if (data['reporting'] == "hospitality-received") else "Recipient"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-party-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-party-details">
              Change<span class="govuk-visually-hidden"> {{ "donor" if (data['reporting'] == "hospitality-received")
                else
                "recipient"}} name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <pre>{{ data['other-party-contact-details'] }}</pre>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-party-details">
              Change<span class="govuk-visually-hidden"> {{ "donor" if (data['reporting'] == "hospitality-received")
                else
                "recipient"}} contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Event details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Event name
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {{ data['event-name'] }}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="event-details">
              Change<span class="govuk-visually-hidden"> event name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of event
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['event-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="event-details">
              Change<span class="govuk-visually-hidden"> type of event</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Event date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["formatted-event-date"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="event-details">
              Change<span class="govuk-visually-hidden"> event date</span>
            </a>
          </dd>
        </div>

        {% if(data['reporting'] == "hospitality-offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of guests, including civil servants
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-guests'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="event-more-details">
              Change<span class="govuk-visually-hidden"> number of guests, including civil servants</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of civil servants
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-of-civil-servants'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="event-more-details">
              Change<span class="govuk-visually-hidden"> number of civil servants</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>


      <h2 class="govuk-heading-m">Hospitality details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {% for hospitalityType in data['hospitality-type'] %}
              <li>{{ hospitalityType | capitalize }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="type-of-hospitality">
              Change<span class="govuk-visually-hidden"> type of hospitality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for hospitality
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason-for-hospitality'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="hospitality-details">
              Change<span class="govuk-visually-hidden"> reason for hospitality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost, in pounds
          </dt>
          <dd class="govuk-summary-list__value">
            {% for hospitalityType in data['hospitality-type'] %}

            {% if (hospitalityType == "food") %}
            <p>Food cost: £{{ data['food-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "drinks") %}
            <p>Drinks cost: £{{ data['drinks-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "transport") %}
            <p>Transport cost: £{{ data['transport-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "entertainment") %}
            <p>Entertainment cost: £{{ data['entertainment-cost'] }}</p>
            {% endif %}

            {% if (hospitalityType == "accommodation") %}
            <p>Accommodation cost: £{{ data['accommodation-cost'] }}</p>
            {% endif %}

            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="hospitality-details">
              Change<span class="govuk-visually-hidden"> cost of hospitality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total cost
          </dt>
          <dd class="govuk-summary-list__value">
            £{{ data['total-cost-of-hospitality'] }}
          </dd>
        </div>


        {% if(data['reporting'] == "hospitality-offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Used approved supplier
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-used'] | capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approved-supplier">
              Change<span class="govuk-visually-hidden"> used approved supplier</span>
            </a>
          </dd>
        </div>

        {% if(data['approved-supplier-used'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approved supplier was not used
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-not-used-reason'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approved-supplier">
              Change<span class="govuk-visually-hidden"> reason approved supplier was not used</span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Delegated authority approval</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Approval obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-approval'] | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delegated-authority-approval">
              Change<span class="govuk-visually-hidden"> approval obtained</span>
            </a>
          </dd>
        </div>

        {% if (data['delegated-authority-approval'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approval was not obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-disapproval-reason'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delegated-authority-approval">
              Change<span class="govuk-visually-hidden"> reason approval was not obtained</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] != "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Andrea Richardson
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123453
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            andrea.richardson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Architect
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] == "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver email</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>

  </div>
</div>

{% endblock %}