{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/team-unit-or-department-details-redirect" method="post">

      <h1 class="govuk-heading-l">{{ "Recipient" if (data['reporting'] == "hospitality-received") else "Donor"}} details
      </h1>

      {% if (data['reporting'] == "hospitality-offered") %}
      <p class="govuk-body">The donor is the team, unit or department who offered hospitality.</p>
      {% endif %}

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="team-unit-or-department-name">
          Team, unit or department
        </label>
        <input class="govuk-input govuk-input--width-20" id="team-unit-or-department-name"
          name="team-unit-or-department-name" type="text" autocomplete="off"
          value="{{ data['team-unit-or-department-name'] }}">
      </div>

      <div class="govuk-form-group lookup">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m"
            for="home-office-representative-lookup">
            Representative
          </label>
        </h1>
        <div id="home-office-representative-lookup-hint" class="govuk-hint">
          Search for the name, employee number or email of a representative for the group.
        </div>
        <input class="govuk-input govuk-input--width-20" id="home-office-representative-lookup"
          name="home-office-representative-lookup" value="{{ data['home-office-representative-lookup'] }}" type="search"
          autocomplete="off">
        <button id="home-office-representative-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="home-office-representative-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Max Thompson</p>
              <p><strong>Email:</strong>max.thompson@homeoffice.gov.uk</p>
              <p><strong>Grade:</strong>Senior Executive Officer (SEO)</p>
              <p><strong>Position:</strong>CX Lead</p>
              <p><strong>Department and cost centre:</strong>CX - 1234567</p>
              <p><strong>Business area:</strong>IT</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="home-office-representative-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Max Thompson
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              max.thompson@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              Senior Executive Officer (SEO)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              CX Lead
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department and cost centre
            </dt>
            <dd class="govuk-summary-list__value">
              CX - 1234567
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business area
            </dt>
            <dd class="govuk-summary-list__value">
              IT
            </dd>
          </div>
          <a id="home-office-representative-lookup-clear-selection" class="govuk-link" href="">Clear selection</a>
        </dl>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find a representative when I search
        </summary>
        <div class="govuk-details__text">
          <p>Try searching using their name, employee number or email.</p>

          <p>If you still cannot find them, email <a
              href="mailto: FinanceTransactionsPolicyandAssurance@homeoffice.gov.uk">FinanceTransactionsPolicyandAssurance@homeoffice.gov.uk</a>.
          </p>

          <p class="govuk-body">Explain you cannot find a representative for the team, unit or department when you
            search.</p>

        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}